services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    networks:
      - internal_net

  rabbitmq:
    image: rabbitmq:4.2.1-management
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_DEFAULT_PASS: carrot
    networks:
      - internal_net

  web:
    image: hashicorp/http-echo
    command: ["-text=Hello from Docker!"]
    networks:
      - internal_net

  mailpit:
    image: axllent/mailpit:latest
    networks:
      - internal_net

  # App
  dndevops-identity:
    image: dndevops-identity:latest
    networks:
      - internal_net

  dndevops-identity-db:
    image: postgres:18.1
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: identity
    volumes:
      - ./persistency/dndevops-identity-db:/var/lib/postgresql
    networks:
      - internal_net

  dndevops-game:
    image: dndevops-game:latest
    networks:
      - internal_net

  dndevops-game-db:
    image: postgres:18.1
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: identity
    volumes:
      - ./persistency/dndevops-game-db:/var/lib/postgresql
    networks:
      - internal_net
  
  dndevops-events:
    image: dndevops-events:latest
    networks:
      - internal_net
  

networks:
  internal_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16